name: Update lockfile

on:
  pull_request:
    types: [labeled,opened,reopened,synchronize]
    branches: [ master ]

jobs:
  update_lockfile:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'auto-lockfile-update')
    environment: CI

    timeout-minutes: 20

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        name: Checkout repository
        with:
          ref: ${{ github.head_ref }}

      - name: Set up JDK 11
        uses: coursier/setup-action@039f736548afa5411c1382f40a5bd9c2d30e0383 # v1.3.9
        with:
          jvm: temurin:11
          apps: sbt

      - name: Update lock
        run: sbt -Dsbt.log.noformat=true +{,macroSub/,structType/}dependencyLockWrite

      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
        with:
          add: 'build*.sbt.lock'
          message: 'Update lockfiles'
          author_name: 'github-actions'
